*{
  margin:0;
  padding:0;

}

.Title h1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2vh;
  font-size: 18vh;
  text-align: center;
  top:40vh;
  color:rgb(224, 162, 193);
  height: 100vh;
  width: 100%;
  position: relative;
}
#Fondo-Portada {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -100;
    object-fit:cover;
  }
.Title #scroll-to-bottom {
    position: fixed;
    width: 20px;
    left: calc(50% - 10px);
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;}

.Text{
  height:100vh;
  width:100%;
  font-family:'Bebas Neue', cursive;
  font-size: 10vh;
  color:rgb(224, 162, 193);
  background-color:rgba( 147, 169, 146);
  text-align:center;
  
  ;
  }
  .Text h2{
    letter-spacing: 1.5vh;
    margin:0px auto;
    line-height:25vh;
    margin:0px auto;

  }
  

.Text .Icons {
  line-height:center;
  margin:0px auto;

}
#Playstore {
  height:40vh;
  width:40vh;
}
#iosappStore{
  height:40vh;
  width:40vh;
}
.Text2{
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  color:rgb(55, 54, 54);
  background-color:rgba( 240, 255, 240);
  height: 100vh;
  width: 100%;
  position:relative;

}
.Text2 #Focusword{
  font-family: 'Bebas Neue', cursive;
  font-size:4vh;
  color:rgb(224, 162, 193);
  
}
.Text2 h1 {
  font-family: 'Bebas Neue', cursive;
  font-size:14vh;
  color:rgb(224, 162, 193);
  margin:0px auto;
  text-align: center;
  width: 100%;
  height:20vh;

}

.container2{
  display : flex;
              flex-direction : row;
}
.container2 h2 {
  font-size: 5vh;
  color:rgb(55, 54, 54);
  text-align: center;
  position: relative;
  top:25vh;
  font-family: 'Roboto', sans-serif;
  font-size: 5vh;
  color:rgb(55, 54, 54);
  
}

.container2 #ChainPhone{
  width: 50%;
  height:50%;
  line-height:right;
  position: relative;
 }

.Text3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2vh;
  color:rgb(55, 54, 54);
  background-color:rgba( 240, 255, 240);
  height: 100vh;
  width: 100%;
 position:relative;
}
.Text3 h1 {
  height: 100%;
  width: 100%;
  line-height:center;
  margin:0px auto;
  font-size: 5vh;
  top:auto;
  position: relative;

}


.container3{
  height: 100vh;
  width: 100%;
  background-color: rgba( 147, 169, 146);
  left:40vh;
  top:40vh;

}

.container3 h2 {
  font-size: 12vh;
  font-family: 'Roboto', sans-serif;
  color:rgb(55, 54, 54);
  position:relative;
  text-align: center;
  top:30vh;
}
#Focusword {
  font-family: 'Bebas Neue', cursive;
  font-size:13vh;
  color:rgb(224, 162, 193);
 
 
}
  .container3 h3{
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    color:rgb(55, 54, 54);
    position:relative;
    text-align: center;
    top:60vh;

  
  }



#Info {
  height: 100vh;
  width: 100%;
  object-fit:cover;
  left:0;
  margin: 0;
  z-index: -100;
  background-color:rgba( 240, 255, 240);
 
}

  .back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }

  .footer {
    height: 20vh;
     width: 100%;
    opacity: .2;
    width: 100%;
    grid-area: footer;
    text-decoration: none;
    font-size: 1rem;
    border-color: rgb(170, 163, 154);
    color:black;
  
  }
  .footer #copyright{
   float: right;
   font-size: 0.6rem;
   font-family:'Times New Roman', Times, serif;
   
  }
   .footer #creator{
    
    float: inline-end;
    font-size: 1rem;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }
    